.card {
  border: 1px white solid;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.img-container {
  display: flex;
  align-content: center;
  flex-grow: 2;
}

.card img {
  width: 100%;
}

.card-name {
  text-transform: uppercase;
}
